
.head{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
.head .artist-img{
    border-radius: 50%;
    width: 248px;
    height: 248px;
    object-fit: cover;
    border-radius: 50%;
  }

.name{
    font-size: 56px;
    font-weight: 700;
}
.artist{
    font-size: 18px;
    opacity: .88;
    margin-top: 24px;
}
.statistics{
    font-size: 14px;
    opacity: .68;
    margin-top: 2px;
}
.description{
    margin-top: 24px;
    opacity: .68;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.hot-song{
    padding-top: 46px;
}
.section-title{
    font-weight: 600;
    font-size: 22px;
    opacity: .88;
    padding-bottom: 20px;
}
.songlist{
    padding: 5px 8px;
}
.songlist:hover{
    border-radius: 6px;
    background: #372f2f;

}
.tracklist-img{
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 6px;
    margin-top: 4px;
}
.tracklist-title{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tracklist-artist{
    font-style: 12px;
    opacity: .68;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.album-box{
    padding-top: 60px;
}
.album-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    word-break: break-all;
}
.album-text{
    font-size: 12px;
    line-height: 18px;
    opacity: .68;
    word-break: break-word;
}

.album-card:hover{
    border-radius: 15px;
    box-shadow:  -9px -9px 18px #645d5d,
                 9px 9px 18px #aea3a3;
  }